<configuration>
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="STDERR"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
        <target>System.err</target>
    </appender>
    <!-- What is the effective level of "chapters.configuration"? -->
    <logger name="com.socks" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="chapters.configuration" level="ERROR" additivity="false">
        <appender-ref ref="STDERR" />
    </logger>

    <!-- turn OFF all logging (children can override) -->
    <root level="OFF">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>